# DATABASE

# sqlite, mysql, postgresql
# 仅支持 postgresql 和 mysql
DB_TYPE="postgresql"
DB_HOST="127.0.0.1"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="postgres"
DB_SCHEMA="public"

HTTP_PROXY="http://127.0.0.1:1080"

# "D:\\projects\\golang\\stspider\\runtime\\downloads\\images"
IMAGES_PATH="runtime/downloads/images"

# "D:\\projects\\golang\\stspider\\stspider\\pyscrapy"
ROOT_PATH=""